<div class="top-content">
  <h2 class="sub-title"><%= @month.month.strftime("%Y年%m月") %>の記録</h2>
  <% if @monthly_data.empty? %>
    <div class="no-data">
      <p>テーブルがありません</p>
      <div class="select-area">
        <%= form_for(@business_day) do |f| %>
          <%= f.hidden_field :date, value: @month.month %>
          <%= f.hidden_field :month_id, value: @month.id %>
          <%= f.submit "作成する", class: "select-btn" %>
        <% end %>
      </div>
    </div>
  <% else %>
    <%= render partial: "home/table" %>
  <% end %>
</div>
<div class="bottom-content">
  <div class="link-wrapper">
    <div class="link-btns">
        <%= link_to root_path, class: "back-btn" do %>
            <%= fa_icon "home 3x" %><br>
            <span class="btn-text">ホーム</span>
        <% end %>
        <%= link_to months_path, class: "back-btn" do %>
            <%= fa_icon "chevron-circle-left 3x" %><br>
            <span class="btn-text">記録一覧</span>
        <% end %>
    </div>
    <div class="link-btns">
      <% unless @prev_month.nil? %>
          <%= link_to month_path(@prev_month), class: "back-btn" do %>
              <%= fa_icon "chevron-circle-left 3x" %><br>
              <span class="btn-text">前月</span>
          <% end %>
      <% end %>
      <% unless @next_month.nil? %>
          <%= link_to month_path(@next_month), class: "back-btn" do %>
              <%= fa_icon "chevron-circle-right 3x" %><br>
              <span class="btn-text">翌月</span>
          <% end %>
      <% end %>
    </div>
  </div>
</div>