<div class="top-content">
  <h2>【<%= @business_hour.business_day.date_format %>】 <%= @business_hour.hour%>時台の記録</h2>
</div>
<div class="bottom-content">
  <p>記録を修正しました</p>
   <div class="link-btns">
        <%= link_to root_path, class: "back-btn" do %>
            <%= fa_icon "home 3x" %><br>
            <span class="btn-text">ホーム</span>
        <% end %>
        <%= link_to business_day_path(@business_hour.business_day), class: "back-btn" do %>
            <%= fa_icon "chevron-circle-left 3x" %><br>
            <span class="btn-text">記録</span>
        <% end %>
        <%= link_to business_day_business_hours_path(@business_hour.business_day), class: "back-btn" do %>
            <%= fa_icon "chevron-circle-right 3x" %><br>
            <span class="btn-text">カウント</span>
        <% end %>
    </div>
</div>